:root {
  box-sizing: border-box;
  --spacer: 1rem;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacer);
  min-height: 100dvh;
  text-align: center;
}

input {
  text-align: center;
}

h4,
p {
  margin: 0;
}

.d-none {
  display: none;
}

.scoreboard {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--spacer);
}

#result {
  width: 100%;
}

.scoreboard .player {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: calc(var(--spacer) * 0.5);
}

#score {
  font-size: 36px;
  font-weight: bolder;
}

table {
  table-layout: fixed;
  width: 40vw;
  height: 40vw;
  border-collapse: collapse;
}

@media (max-width: 750px) {
  table {
    width: 95vw;
    height: 95vw;
  }

  .scoreboard {
    width: 95vw;
  }
}

table td {
  width: 33%;
  height: 33%;
  border: 1px solid black;
  font-size: 8vw;
}
